.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.left-section{
    max-width: 650px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    row-gap: 50px;
}
.trusted-text{
    font-size: 60px;
    font-weight: 500;
    color: white;
}
.trading-text-crypto{
    color: #f6a;
}
.already-text{
    color: gray;
    font-size: 20px;
}
.thirth-row-left-section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 50px;
}
.play-solid{
    filter: invert(72%) sepia(45%) saturate(7272%) hue-rotate(304deg) brightness(104%) contrast(101%); width: 20px; height: 20px;
}
.play-button{
    width: 60px;
    height: 60px;
    background-color: #212642;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    transition: 0.3s;
    
}
.play-button:hover{
    transform: scale(0.9);
    background-color: #f6a;
}
.play-button:hover .play-solid{
    transform: scale(0.9);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(104%) contrast(102%);
}
.line .get-started-buttons {
    border-radius: 500px;
}
.whatch-video{
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}
.whatch-video:hover{
    color: #f6a;
    text-decoration: underline;
}
.star-area{
    display: flex;
    flex-direction: row;
}
.stars{
    width: 20px;
    filter: invert(67%) sepia(72%) saturate(2280%) hue-rotate(7deg) brightness(104%) contrast(103%);
}
.fifth-row-left-seciton{
    row-gap: 30px;
}
.point-area{
    display: flex;
    column-gap: 10px;
    
}
.right-section{
    max-width: 500px;
    
}
.crypto-hero-img{
    max-height: 600px;
    max-width: 600px;
}

/* Phone Media Responsive*/

@media (max-width: 450px){

   .trusted-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    text-align: start;
    font-size: 35px;
   }
   .already-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    max-width: 400px;
   }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        flex-direction: column;
        max-width: 400px;
    }
    .point-area{
        display: flex;
        flex-flow: column;
    }
    .crypto-hero-img{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 50px;
        max-width: 300px;
    }
    .thirth-row-left-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
    }
    .line .get-started-buttons{
        padding: 5px 10px 5px 10px;
        font-size: 15px;
    }
    .whatch-video{
        white-space: nowrap;
    }
    .right-section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
